<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="prismicio_route_listing_data_source" xsi:type="string">Elgentos\PrismicIO\Model\ResourceModel\Routes\Grid\Collection</item>
                <item name="prismicio_route_form_data_source" xsi:type="string">Elgentos\PrismicIO\Model\ResourceModel\Routes\DataProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="scaffold" xsi:type="object">Elgentos\PrismicIO\Console\Command\Scaffold</item>
                <item name="slicemachine-init" xsi:type="object">Elgentos\PrismicIO\Console\Command\SliceMachineInit</item>
                <item name="slicemachine-start" xsi:type="object">Elgentos\PrismicIO\Console\Command\SliceMachineStart</item>
            </argument>
        </arguments>
    </type>

    <preference for="Elgentos\PrismicIO\Api\ConfigurationInterface" type="Elgentos\PrismicIO\Model\Configuration" />

    <preference for="\Elgentos\PrismicIO\Api\Data\RouteInterface" type="Elgentos\PrismicIO\Model\Route" />
    <preference for="\Elgentos\PrismicIO\Api\Data\Route\StoreInterface" type="Elgentos\PrismicIO\Model\Route\Store" />
    <preference for="\Elgentos\PrismicIO\Api\RouteRepositoryInterface" type="Elgentos\PrismicIO\Model\RouteRepository" />

    <type name="Magento\Sitemap\Model\ItemProvider\Composite">
        <arguments>
            <argument name="itemProviders" xsi:type="array">
                <item name="prismicPagesProvider" xsi:type="object">Elgentos\PrismicIO\Model\ItemProvider\PrismicPages</item>
            </argument>
        </arguments>
    </type>

    <!--
    // Not enabled by default, add this feature in your own project by creating a simple prismic extended module
    // I didn't want to enable a plugin at all times
    <type name="Elgentos\PrismicIO\ViewModel\LinkResolver">
        <plugin name="elgentos_prismicio_appendtrailingslashes" type="Elgentos\PrismicIO\Plugin\ViewModel\LinkResolver\AppendTrailingSlashes" />
    </type>
    -->

    <!-- Logger Configuration -->
    <type name="Elgentos\PrismicIO\Logger\ApiHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Elgentos\PrismicIO\Logger\ApiLogger">
        <arguments>
            <argument name="name" xsi:type="string">ApiPrismicIOLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Elgentos\PrismicIO\Logger\ApiHandler</item>
            </argument>
        </arguments>
    </type>

    <!-- Inject ApiLogger into Api class -->
    <type name="Elgentos\PrismicIO\Model\Api">
        <arguments>
            <argument name="logger" xsi:type="object">Elgentos\PrismicIO\Logger\ApiLogger</argument>
        </arguments>
    </type>

    <!-- Document Cache Manager Configuration -->
    <type name="Elgentos\PrismicIO\Model\Document\CacheManager">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache</argument>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\Json</argument>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface</argument>
            <argument name="logger" xsi:type="object">Elgentos\PrismicIO\Logger\ApiLogger</argument>
            <argument name="cacheState" xsi:type="object">Magento\Framework\App\Cache\State</argument>
            <argument name="defaultConfig" xsi:type="array">
                <item name="ttl" xsi:type="string">86400</item>
            </argument>
        </arguments>
    </type>

    <!-- Inject CacheManager into StaticBlock -->
    <type name="Elgentos\PrismicIO\Block\StaticBlock">
        <arguments>
            <argument name="context" xsi:type="object">Magento\Framework\View\Element\Context</argument>
            <argument name="documentResolver" xsi:type="object">Elgentos\PrismicIO\ViewModel\DocumentResolver</argument>
            <argument name="linkResolver" xsi:type="object">Elgentos\PrismicIO\ViewModel\LinkResolver</argument>
            <argument name="api" xsi:type="object">Elgentos\PrismicIO\Model\Api</argument>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface</argument>
            <argument name="cacheManager" xsi:type="object">Elgentos\PrismicIO\Model\Document\CacheManager</argument>
            <argument name="contentType" xsi:type="string">static_block</argument>
            <argument name="identifier" xsi:type="string"></argument>
            <argument name="data" xsi:type="array"/>
        </arguments>
    </type>

    <!-- Inject LoggerInterface into Webhook Cache Controller -->
    <type name="Elgentos\PrismicIO\Controller\Webhook\Cache">
        <arguments>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
        </arguments>
    </type>

</config>
