<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="prismicio" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
            <tab>service</tab>
            <label>Prismic.IO</label>
            <resource>Elgentos_PrismicIO::config_prismicio</resource>

            <group id="general" translate="label" showInDefault="1">
                <label>General</label>

                <field id="enabled" showInDefault="1" translate="label" type="select">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                
                <field id="enpoint" showInDefault="1" translate="label">
                    <label>API Endpoint(URL)</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="token" showInDefault="1" translate="label">
                    <label>Access Token</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="content" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Content</label>

                <field id="language" showInDefault="1" showInWebsite="1" showInStore="1" translate="label" type="select">
                    <label>Language</label>
                    <source_model>Elgentos\PrismicIO\Model\Source\Languages</source_model>
                </field>
                <field id="content_type" showInDefault="1" showInWebsite="1" showInStore="1" translate="label" type="select">
                    <label>Default Content type</label>
                    <source_model>Elgentos\PrismicIO\Model\Source\ContentTypes</source_model>
                </field>
                <field id="fetchlinks" showInDefault="1" showInWebsite="1" showInStore="1" translate="label comment">
                    <label>Fetchlinks</label>
                    <comment><![CDATA[Which related fields should we try to fetch from Prismic in one call, format <code>customtype.field,customtype.field</code>]]></comment>
                </field>
            </group>

        </section>
    </system>
</config>
